/* Css for Styling*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(251, 237, 237, 0.763);
}
.main {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_position {
  width: 50%;
  margin: 5rem;
  display: flex;
  justify-content: space-around;
}

.btn {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  border: 0.5px dotted gray;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-trigger {
  cursor: pointer;
}

.tooltip_top {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0d0c0c;
  color: white;
  padding: 5px;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  visibility: visible;
  width: 15rem;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip_top:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
.tooltip_bottom {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0d0c0c;
  color: white;
  padding: 5px;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  visibility: visible;
  width: 15rem;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip_bottom:before {
  content: "";
  position: absolute;
  transform: rotate(180deg);
  bottom: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
.tooltip_left {
  position: absolute;
  bottom: 10%;
  left: -100%;
  transform: translateX(-50%);
  background-color: #0d0c0c;
  color: white;
  padding: 5px;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  visibility: visible;
  width: 15rem;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip_left:before {
  content: "";
  position: absolute;
  bottom: 40%;
  left: 100%;
  transform: rotate(270deg);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip_right {
  position: absolute;
  bottom: 10%;
  left: 200%;
  transform: translateX(-50%);
  background-color: #0d0c0c;
  color: white;
  padding: 5px;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  visibility: visible;
  width: 15rem;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip_right:before {
  content: "";
  position: absolute;
  bottom: 40%;
  left: -4%;
  transform: rotate(90deg);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}


/* Media query for Responsiveness */
@media (max-width: 768px) {
  .main_position {
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid gray;
  }

  .tooltip-container {
    margin: 2rem 0;
  }
}
